.chatbox-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.chat-wrapper {
  width: 100%;
}

.chat--screen {
  height: 400px;
  border-radius: 4px;
  background-color: var(--gray);
  border: 1px solid #000;
  padding: 20px;
  overflow: auto;
}

.chat-input {
  background-color: var(--gray);
  border: 1px solid #000;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  outline: none;
}

.chat--img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--gray);
  border: 1px solid #000;
}

.chat--row {
  display: flex;
  align-items: flex-top;
  margin-bottom: 20px;
}

.chat--bubble {
  margin: 0 0 0 10px;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: var(--black);
}

.chat--row.bot {
  flex-direction: row-reverse;
}

.chat--row.bot .chat--bubble {
  margin: 0 10px 0 0;
  background-color: var(--azul);
}