* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--black);
  color: #FFFFFF;
}

.ml-2 {
  margin-left: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-none {
  display: none;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.border-right {
  border-right: 1px solid #000;
}
